/* add CSS class and element and selectors here */

h1 {color:blue;font-size:13;}

.example { 
  color:red;
  font-size:32px;
}


.myClass
{background-color:;
  font-size:30%;
}



body {
      background-color: red;
      font-size: 170%;
    }

