/* add CSS class and element and selectors here */

h1 {color:blue;font-size:13;}

.example { 
  color:#0D1321;
  font-size:32px;
}


.myClass
{
  border-style: solid;
  border-width: medium; 
  border-color: #09264A;
  font-size:30%;
}



body {
      background-color: #0D1321;
      font-size: 170%;
    }

