/* add CSS class and element and selectors here */

h1 {color:blue;font-size:13;}

.example { 
  color:red;
  font-size:32px;
}







body {
      background-color: #BEA7D3;
      font-size: 15000000%;
    }

